body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://cdn.wallpapersafari.com/49/9/OMaXBZ.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px 20px;
}

th {
    text-align: left;
}

td:first-child {
    width: 50%;
    white-space: nowrap;
}

td:last-child {
    width: 50%;
}

#formData {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;
}

@media (max-width: 768px) {
    body {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;
    }

    #formData {
        justify-content: space-around;
        width: 90%;
        height: 90vh;
    }

    p {
        text-align: center;
        color: #777;
    }
}

@media (max-width: 400px){
 table{
    padding-right: 5px;
 }
 #formData{
    width: 100%;

 }
}